img {
    border-radius: 10px;
}

table {
    border-style: groove;
}

th {
    width: 120px;
    height: 25px;
    border-style: solid;
    text-align: center;
}

td {
    width: 120px;
    height: 30px;
    border-style: solid;
    text-align: center;
}

#wrapper {
    background: white;
    margin: auto;
    padding: 15px;
}

#crimson {
    color: crimson;
}

#blue {
    color: blue;
}